.App {
  color: white;
  padding: 20px;
  max-width: 650px;
  margin: 30px auto;
}

.App Footer {
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgb(193, 21, 21);
  margin: 1rem 0;
}

.App Footer a {
  color: rgb(0, 0, 0);
}

.App Footer a:hover {
  color: #1d05ee;
}

@media (max-width: 600px) {
  .App {
    margin: 0 auto;
    padding: 10px 0;
  }
}